.logo
{
  text-align: center;
  font-size:100px;
  padding: 50px;
  background-color: #c96159;
  color:aliceblue;

}

.add-form
{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  background-color:#b5833a;
  color:whitesmoke;
  padding:50px 20px ;

  
}


.list
{
  list-style-type: none;
  display: flex;

}